body {background-color: plum;}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 60%;
  border-radius: 50%;
}

body, h1, h2 {
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 27px;
  color: green;
  padding: 25px 50px;
}

p {
  font-size: 13px;
  color: teal
}

h2 {
  font-size: 27px;
  color: brown
}

h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 150px;
  margin-left: 80px;
}
h2 {
  margin-bottom: 30px;
}

p.double {border-style: double;}

p.double {
  border-style: double;
  border-width: thick;
  border-color:purple;
  background-color: lightgrey
}

p {
  border-radius: 9px;
  margin-top: 10px;
}
